{:yahoo.com {:api-key "your-api-key"
             :api-secret "your-api-secret"}
 :facebook.com {:api-key "your-api-key"
                :api-secret "your-api-secret"}
 :github.com {:api-key "your-api-key"
              :api-secret "your-api-secret"}
 :google.com {:api-key "your-api-key"
              :api-secret "your-api-secret"}}
